<div id="vanta-birds-js">
    <div id="fade"></div>
</div>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/100/three.min.js"></script>
<script src="https://www.vantajs.com/dist/vanta.birds.min.js"></script>
<script src="/js/vanta-birds-config.js"></script> -->

<script data-who="💎 Made with naker.io 💎" src="https://d23jutsnau9x47.cloudfront.net/back/v1.0.9/viewer.js" data-option="{|environment|:{|gradient|:|radial|,|sensitivity|:0.8,|colorStart|:[6,25,47,0.52],|colorEnd|:[4,16,30,0.83]},|particle|:{|life|:5,|power|:0.013,|texture|:|https://res.cloudinary.com/naker-io/image/upload/v1592590836/zw69siexqhhktajgz4ak.png|,|number|:272,|colorStart|:[116,129,92,0.13],|colorEnd|:[249,248,243,0.52],|sizeStart|:1.4,|sizeEnd|:2.8,|direction1|:{|x|:0,|y|:0,|z|:0},|direction2|:{|x|:0,|y|:0,|z|:0}},|waterMark|:false}" data-container="vanta-birds-js"></script>