{{- define "main" -}}


{{/* Check that user fully installed Academic. */}}
{{ if not (isset site.Params "theme") }}
{{ errorf "Please complete the installation of Academic by following the steps at https://sourcethemes.com/academic/docs/install/" }}
{{ end }}


<main id="home" class="container px-3 py-5 mx-auto" role="main">
    <div class="row" id="landing-page">
        <div id="landing-text" class="text-center">
            <h2>
                Welcome to
            </h2>
            <h1>
                ACM & ACM-W at UCF!
            </h1>
        </div>
    </div>
    <div class="card text-center text-white bg-dark" style="width: 100%">
        <div class="card-body">
            <p class="card-text"> We are proud to announce that ACM and ACM-W, have fully merged for the upcoming academic year! <i class='far fa-grin-stars'></i>
            </p>
        </div>
      </div>
    <div class="row">
    </div>
    {{ .Content }}
</main>

{{ partial "vanta" . }}

{{- end -}}