{{- define "main" -}}


{{/* Check that user fully installed Academic. */}}
{{ if not (isset site.Params "theme") }}
{{ errorf "Please complete the installation of Academic by following the steps at https://sourcethemes.com/academic/docs/install/" }}
{{ end }}


<main id="home" class="container px-3 py-5 mx-auto" role="main">
    <div class="row" id="landing-page">
        <div id="landing-text" class="text-center">
            <h1>
                Welcome to ACM-W at UCF! :)
            </h1>
        </div>
    </div>
    <div class="card text-center text-white bg-dark" style="width: 100%">
        <div class="card-body">
            <p class="card-text"> We are proud to release the Beta for our new ACM-W Website! <i class='far fa-grin-stars'></i>
            </br>
            If you would like to give us feedback, please reach out to us on our Discord!
            </p>
        </div>
      </div>
    <div class="row">
    </div>
    {{ .Content }}
</main>

{{ partial "vanta" . }}

{{- end -}}