<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <style type="text/css">
    html,
    body {
      height: 450px;
      width: 100%;
    }
  </style>
</head>

<body>
<div id="social-media" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#social-media" data-slide-to="0" class="active"></li>
    <li data-target="#social-media" data-slide-to="1"></li>
    <li data-target="#social-media" data-slide-to="2"></li>
    <li data-target="#social-media" data-slide-to="3"></li>
    <li data-target="#social-media" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <a href="http://bit.ly/ACMW-discord" role="button">
      <img src="https://ucfacmw.org/img/headers/Discord-Slider.png" class="d-block w-100"></img>
    </a>
    </div>
    <div class="carousel-item">
    <a href="https://www.facebook.com/ucfacmw/" role="button">
      <img src="https://ucfacmw.org/img/headers/Facebook-Slider.PNG" class="d-block w-100"></img>
    </a>
    </div>
    <div class="carousel-item">
    <a href="https://www.instagram.com/ucfacmw" role="button">
      <img src="https://ucfacmw.org/img/headers/Instagram-Slider.PNG" class="d-block w-100"></img>
    </a>
    </div>
    <div class="carousel-item">
    <a href="https://twitter.com/ucfacmw" role="button">
      <img src="https://ucfacmw.org/img/headers/Twitter-Slider.png" class="d-block w-100"></img>
    </a>
    </div>
    <div class="carousel-item">
    <a href="https://www.reddit.com/user/ucfacmw" role="button">
      <img src="https://ucfacmw.org/img/headers/Reddit-Slider.png" class="d-block w-100"></img>
    </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#social-media" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#social-media" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</body> 
  
</html> 